header .container{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 0;
    background-color: #5a5a5acc;
    margin: 0vw;
    
}
header{
    background-color: #918a8a;
    color: rgb(29, 28, 28);
    width: 100%;
    position:top;
    height: 20%;  
    display: flex;
    align-items: center;



}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRacw8K8MRxOlfixIsIm6F9ZK3J9Bj3i6UXwA&s');
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}
.menu{
    flex-direction:row;
    align-items: right;
    text-align: end;
    margin-left: auto;
    text-decoration:none;
    display: flex;
    
    
}
.container{
    display: flex;
    justify-content: space-between;
}


.imge{
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: end;
}


.container-projeto {
    display: flex;
    border: 1px solid gold;
    width: 80vw;
    border-radius: 20px ;

}
.container-greninja{
    display: flex;
    border: 1px solid gold;
    width: 80vw;
    align-items: end;
    border-radius: 20px ;
    align-items: start;
    justify-content: end;
    justify-items: end;

}
.title{
    align-items: center;
    border: 1px solid gold;
    width: 80vw;
    justify-content: center;
    display: flex;
    border-radius: 20px ;
    justify-content: space-between;
}